$light-blue: #4A90E2;
$dark-blue: #00408B;
$red: #D0021B;
$orange: #F5A623;
$light-orange: #FFF2DC;
$light-gray: #F2F2F2;
$mid-gray: #C8C8C8;
$dark-gray: #757575;
$white: #FFFFFF;
$black: #000000;
$midlight-gray: #E1E1E1;

$title-size: 24px;
$subtitle-size: 20px;
$title-weight: 500;